.article__carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__main {
  margin-bottom: 30px;
  width: 70%;
}

.carousel__images {
    width: 100vw;
  }
  
  .image__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    top: 30px;
    position: relative;
  }
  
  .image__container--image {
    height: 400px;
    width: 1200px;
  }